<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">We recommend you check out this products:</h1>
            <h5 class="page-header">Based on your location we found those cheaper substitutes</h5>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="drug in drugs">
                    <strong>{{drug.name}}</strong><br>
                    <span class="text-muted">{{drug.price}}</span>
                    <a ng-click="delete(drug)" class="trash"><span
                        class="glyphicon glyphicon-trash pull-right"></span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
